body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 0;
  padding: 12px;
}

.to-top {
  position: fixed;
  top: 85%;
  right: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 5em;
  width: 5em;
  background-image: url('../img/up-arrow.png');
}

@media (max-height: 420px) {
  .to-top {
    top: 65%;
  }
}
