.navbar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
}

.navbar-name {
  text-shadow:
  -1px -1px 1px rgb(58,215,249),
  1px -1px 1px rgb(58,215,249),
  -1px 1px 0 rgb(58,215,249),
  1px 1px 0 rgb(58,215,249);
  font-size: 2em;
  z-index: 1;
}

.nav-style-block {
  border-radius: 2em;
  position: absolute;
  z-index: 0;
  height: 18em;
  width: 17em;
  background: rgb(58,215,249);
  transition: 0.3s ease-in-out;
}

.navbar-contacts { z-index: 1; }

.socials {
  border: 1px solid steelblue;
  border-radius: 4em;
  margin: 0.2em;
  padding: 0.4em;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}

.socials:hover {
  background-color: rgba(77, 207, 207, .8);
  color: white;
}

.hero {
  display: flex;
  height: 50vh;
}

.hero > * {
  z-index: 1;
  height: 100%;
  color: white;
  text-shadow:
  -1px -1px 0 rgb(63, 63, 63),
  1px -1px 0 rgb(63, 63, 63),
  -1px 1px 0 rgb(63, 63, 63),
  1px 1px 0 rgb(63, 63, 63);
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.hero-skills { background-image: url('../img/good-at-bg.jpeg'); }
.hero-projects { background-image: url('../img/worked-on-bg.jpeg'); }

.section { height: 100vh; }
.section-content { height: 100%; padding-top: 10vh; padding-bottom: 30em; }
.section-content > h1 { color: red; }

.checkboxes {
  width: 53vw;
  margin-left: auto;
  text-align: left;
}

.fullstack-projects {
  width: 70%;
  margin: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  grid-template-rows: repeat(3, 30vw);
}

.sousais { background-image: url('../img/sousais-bg.jpg'); }
.foreign-key { background-image: url('../img/foreign-key-bg.png'); }
.genie-bottle { background-image: url('../img/genie-bottle-bg.png'); }

@media (max-width: 650px) {
  .navbar { width: 100%; }
  .navbar-name, h1 { font-size: 1.8em; }
  .hero { flex-direction: column; }
  .hero > * { width: 100%; }
  .checkboxes { width: 60vw; }
  .nav-style-block {
    height: 14em;
    width: 15em;
  }
}

/* Landscape mode, and (orientation:...) wasnt working */
@media (max-height: 420px) and (min-width: 650px) {
  h1 { font-size: 1.3em; }
  .section-content > * { width: 33%; margin: auto }
  .checkboxes { width: 60%; }
  .nav-style-block {
    height: 11em;
    width: 15em;
  }
}

/* Nexus 5 - keyboard open */
@media (max-height: 412px) and (max-width: 412px), (max-height: 700px) {
  .section { height: 45em; }
  .nav-style-block {
    height: 9em;
    width: 16em;
  }
}

@media (max-height: 700px) {
  .nav-style-block {
    height: 12em;
    width: 16em;
  }
}

@media (max-height: 400px) {
  .nav-style-block {
    height: 80vh;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 284px) {
  .navbar { flex-flow: row; }
}

@media (max-height: 284px) and (max-width: 535px) {
  .navbar { font-size: 0.6em; }
  .section { height: 35em; }
}
